# Ignorar arquivos .pyc, .pyo, etc.
*.py[cod]
*.pyc

# Ignorar arquivos específicos
.DS_Store

# Ignorar settings.py
settings.py

# Ignorar database.db
database.db

# Ignorar manage.py
manage.py

# Migrations - South
**/migrations/*

# Outros arquivos genericos
*~
*.lock
*.DS_Store
*.swp
*.out

# Ignorando a pasta media/
media/*
