{% extends 'base.html' %}
{% load absurl %}
{% load truncatewords %}

{% block title %} Mc Catra - 50 tons de catra - 27 de Março de 2013 {% endblock %}
{% block keywords %} Mc Catra, Catra, Ciquenta Tons de Catra, 50 Tons de Catra Caribeno, Caribeño, quarta, balada, festa, balada brasilia {% endblock %}

{% block corpo %}

  <!-- Chamada -->
  <div id="Chamada">
	<div class="Body">
		<div class="data">
        	<p class="titulo">Mc Catra</p>
            <p class="subtitulo">Cinquenta Tons de Catra</p>

        	<p class="local">Caribeño<br />Setor de Clubes Sul</p>
        	<p class="datah">27 Mar</p>
            <div class="maisinfor"><a href="{% url eventos:informacoes '2013-03-27-quarta-no-caribeno-ciquenta-tons-de-catra' %}">mais informações</a></div>
        </div>
	</div>
  </div>
  <!--//Chamada-->

  <!-- Destaques -->
  <div id="Destaques">
      <div class="Body">


        {% for evento in eventos %}
        <a href="{% url eventos:informacoes evento.slug %}"
           title="{{ evento.nome }}">
            <div class="Col">
                <img src="{{ evento.imagem.url }}"
                     width="201"
                     height="291"
                     alt="{{ evento.nome }}"
                     title="{{ evento.nome }}" /><h1>{{ evento.nome|truncatewords_by_chars:40 }}</h1>
                <h2>{{ evento.data|date:"d" }} {{ evento.data|date:"M" }}</h2>
                <div class="comment">
                    <div class="fb-comments-count"  data-href="{% absurl eventos:informacoes evento.slug %}">0</div>
                	<span>comentarios</span>
                </div>
            </div>
        </a>
        {% endfor %}
      </div>
  </div>
  <!--//Destaques-->

  {% endblock %}

